@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.colo{
    color:#FF42A5;
   
}
/*heading*/
header{
    padding:30px 0px;
    
}
/*header*/
.head{
    display:flex;
    justify-content: space-around;
}
.logo{
    display:flex;
}
.logo img{
    width: 86.041px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.he{
    text-align: center;
font-size: 45px;
font-style: normal;
font-weight: 700;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display:flex;

}
nav li{
    list-style: none;
    margin-left: 30px;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #3C354F;
}
.extra{
    cursor: pointer;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
color: #3C354F;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
padding: 11px 22px;
    margin-top: -18px;
}
.extra img{
    padding-left: 16px;
}
/*banner*/

.banner{
    /*padding: 19px 240px;*/
    display:flex;
    background-color: rgba(241, 68, 174, 0.03)
}
.ba-title{
    max-width: 901px;    
    margin: 0 auto;
    padding: 148px 0px;
}
.d1{
    display: flex;
    
}
.d1 img{
    padding:5px;

}
.p1{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
margin-top: 11px;
}
.ti1{
    margin:0px;
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.ti2{
    margin:0px;
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.btn1{
    display: inline-flex;
    margin-top: 28px;
padding: 16px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
border:0px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}
.btn2{
    display: inline-flex;
    margin-top: 28px;
padding: 16px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
border:0px;
background: #4EC5F7;
margin-left: 24px;
}
.ba-im img{
    width:81%;
    margin-top: 19px;

}

/*online feature*/

.online{
    
    padding-left: 42px;
}
.on-im{
    display: flex;
    padding: 0px 131px;
}
.on-he{
    text-align: center;
    padding-left:10px;
    color: #0B0223;
font-size: 48px;
font-style: normal;
font-weight: 700;
margin-top:0px;
margin-bottom: 0px;;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-style: normal;
font-weight: 700;
}
.on-pa{
    text-align: center;
    margin-bottom: 36px;
}
.four{
    padding-right:52px;
    
}
.four img{
    border-radius: 16px;
    width:230px;
}
.fo-pa{
    color: #534C64;
font-family: Work Sans;
font-size: 0.7rem;
font-style: normal;
font-weight: 500;
}

/*play feature 2*/

.fe-text{
    text-align: right;
    margin-top: 174px;
    text-align: right;
}


.play{
    margin-top: 46px;
    margin-bottom: -10px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 700;
}

.fe-he{
    margin: -52px 0px;
    text-align: right;
font-family: Work Sans;
font-size: 2.1rem;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.fe-te{
    padding-left: 264px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}


.feature-2{
    
    display: flex;
    margin-top: 74px;
    gap: 215px
 
}


.fe-image .hourse{
    height:100%;
    
}
.ten .doll{
    border-radius: 8px;
    text-align: center;
    position: relative;
    bottom: 223px;
    right: 91px;
    width: 210.5px;

}

.ten{

        margin-bottom: -433px;
}



/*gridi section*/
.gridi{
    display:flex;
}
.gri{
    display: flex;
   
   
}
.gridi-con{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 51px 74px 0px 0px;
    padding: 83px 0px 0px 140px;
    gap: 53px;

}

.foot{
    background: #0B0223;
    width:100%;
    margin-top:74px;
    text-align: center;
}

.logo1{
    display:flex;
    justify-content: center;
}
.logo1 img{
    width: 86.041px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.he1{
    color:white;
    text-align: center;
font-size: 45px;
font-style: normal;
font-weight: 700;
}
.colo1{
    color:#FF42A5;
   
}
.po{
    cursor: pointer;
    display: flex;
    padding: 0px 141px 37px 221px;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-content: space-evenly;
}
.imo{
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 382px;
}
.po2{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 382px;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.peu{
    padding: 0px 0px 30px 0px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*
.gridi-con{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 100px 60px 26px 142px;
    gap:19px;
}
.con1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 100px 60px 26px 142px;

}
.con2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 0px 0px 0px 279px;
}


/*
.pu{
    color: #0B0223;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.gridi-con{
 
    display: grid;
    grid-template-columns: repeat(5,1fr);
        align-items: center;
    padding-top: 139px;
    padding-left: 116px;
    gap: 32px;
}*/




@media screen and (max-width:576px){
    header{
        padding: 42px;
       
    }
    .head,nav,nav>ul,.banner,.on-im,.feature-2{
        flex-direction: column;
    }
    .extra{
        margin-top: 8px;;
    }
    nav{
        margin-left: -77px;
    }
    .d1 img {
        padding: 2px;
    }

    .ba-im img{
        width:100%;
    
    }
    .logo img {
        
        margin-left: 44px;
    }
    .on-im{
        flex-direction: column;
        padding-left: 67px;
    }
    .fo-pa{
            font-size: 0.5rem;
            width: 454px;
}
.fe-text{
    margin: 174px 42px
}
.fe-te{
    padding-left:0px;
}
.hourse{
    padding: 0px 34px;
    width: 83%;
}
.ten .doll{
   
    border-radius: 8px;
    text-align: center;
    position: relative;
    bottom: 143px;
    right: 8px;
    width: 140.5px;

}
.po{
   
    margin: 0px 36px 0px -44px;
    padding: 0px 2px 37px 79px;
   
    font-size: 1.2rem;
    
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.imo{
    gap: 40px;
    margin: 0px 0px 0px -11px;
    padding: 0px 101px;
    flex-wrap: wrap;
    justify-content: center;


}
.po2{
    justify-content: space-evenly;
    padding: 22px 14px;
    flex-wrap: wrap;

}
.peu{
    padding: 0px 67px 30px 105px;
}

.gridi-con{
    justify-content: flex-start;
    gap: 11px;
    margin: 370px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    /*pore img er width font size esob try kore dekhbo*/
}



}
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 42px;
       
    }
    .head,nav,nav>ul,.banner,.on-im,.feature-2{
        flex-direction: column;
    }
    .extra{
        margin-top: 8px;;
    }
    nav{
        margin-left: -77px;
    }
    .d1 img {
        padding: 2px;
    }

    .ba-im img{
        width:100%;
    
    }
    .logo img {
        
        margin-left: 44px;
    }
    .on-im{
        flex-direction: column;
        padding-left: 67px;
    }
    .fo-pa{
            font-size: 0.5rem;
            width: 454px;
}
.fe-text{
    margin: 174px 42px
}
.fe-te{
    padding-left:0px;
}
.hourse{
    padding: 0px 34px;
    width: 83%;
}
.ten .doll{
   
    border-radius: 8px;
    text-align: center;
    position: relative;
    bottom: 143px;
    right: 8px;
    width: 140.5px;

}
.po{
   
    margin: 0px 36px 0px -44px;
    padding: 0px 2px 37px 79px;
   
    font-size: 1.2rem;
    
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.imo{
    gap: 40px;
    margin: 0px 0px 0px -11px;
    padding: 0px 101px;
    flex-wrap: wrap;
    justify-content: center;


}
.po2{
    justify-content: space-evenly;
    padding: 22px 14px;
    flex-wrap: wrap;

}
.peu{
    padding: 0px 67px 30px 105px;
}

.gridi-con{
    justify-content: flex-start;
    gap: 11px;
    margin: 370px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    /*pore img er width font size esob try kore dekhbo*/
}



}
